@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #05292e;
}
.home h4 {
	font-weight: bold;
	text-align: center;
	font-size: 1.5rem;
	color: whitesmoke;
	margin-top: 10px;
}
.question {
	font-weight: bold;
	font-size: 2rem;
	color: whitesmoke;
	position: absolute;
	right: 5vw;
}

.home .d-flex {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.home .img-container {
	max-width: 300px;
	height: 200px;
	overflow: hidden;
	position: relative;
	border-radius: 20px;
}

.home .img-container h2 {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	background-color: #051a1d;
	border-radius: 5px 0 0 5px;
	padding: 5px;
	color: white;
	font-size: 1.5rem;
}

.home .img-container img {
	max-width: 100%;
	height: 300px;
	box-sizing: content-box;
	transition: transform 0.2s, filter 0.2s ease-in;
	filter: blur(0.4px);
	transform: scale(1);
}

.home .img-container img:hover {
	filter: blur(0px);
	transform: scale(1.1);
}

.Locations {
	color: whitesmoke;
}
header {
	margin: 5px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}
header h1 {
	font-weight: bold;
	font-size: 2rem;
	margin: 0px auto;
}
header .i {
	font-size: 2rem;
	margin-left: 8px;
	color: white;
}
.Locations .info-card {
	min-height: 120px;
	width: 360px;
	margin: 20px auto;
	background-color: #051a1d;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
	border-radius: 8px;
	transition: 0.1s ease-in;
	cursor: pointer;
}

.Locations .info-card:hover {
	box-shadow: 1px 1px 5px black;
	transform: scale(1.005);
	background-color: #061a1da6;
}
.Locations .info-card:hover p {
	color: rgba(255, 255, 255, 0.208);
}

.Locations .info-card h4 {
	font-size: 1.3rem;
	margin-left: 0.8rem;
	transition: 0.3s ease-in;
	margin: 5px;
}
.Locations .info-card p {
	text-align: center;
	transition: 0.3s ease-in;
	margin: 5px auto;
}
.Locations .d-flex {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	color: rgba(240, 248, 255, 0.739);
}
.pagination {
	text-align: center;
}
.pagination button {
	margin: 2px;
	padding: 2px;
	background-color: #051a1d;
	color: white;
	font-weight: 600;
	border: none;
	padding: 12px;
	transition: 0.2s ease-in;
	border-radius: 4px;
	cursor: pointer;
}
.pagination button:hover {
	box-shadow: 1px 1px 3px black;
}
.pagination .normal {
	background-color: #051a1d;
}
.pagination .selected {
	background-color: #02090a;
}

.search-input {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px auto;
	gap: 6px;
}

.search-input input {
	background-color: #051a1d;
	border: none;
	padding: 10px;
	border-radius: 0 8px 8px 0;
	color: aliceblue;
}
.search-input button {
	background-color: #051a1d;
	border: none;
	padding: 10px;
	border-radius: 8px 0 0 8px;
	color: aliceblue;
}

.Characters {
	color: whitesmoke;
}
.char-card {
	width: 280px;
	margin: 20px auto;
	background-color: #051a1d;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 5px;
	border-radius: 8px;
	position: relative;
	transition: 0.2s ease-in;
	cursor: pointer;
	text-align: center;
	padding: 10px;
}

.char-card h1 {
	font-weight: bold;
	font-size: 1.8rem;
}

.char-card img {
	max-width: 300px;
	height: 200px;
	box-sizing: content-box;
	transition: transform 0.2s, filter 0.2s ease-in;
	transform: scale(1);
}

.Characters .img-container {
	margin: 10px auto;
	max-width: 300px;
	height: 200px;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
}

.char-card:hover img {
	transform: scale(1.1);
}
.char-card span {
	padding: 20px;
	position: absolute;
	border-radius: 50%;
	top: 178px;
	right: 70px;
}
.char-card .green {
	background-color: rgb(0, 164, 0);
}
.char-card .red {
	background-color: red;
}
.char-card .gray {
	background-color: gray;
}

.filters {
	width: 370px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.filter-buttons {
	display: flex;
	justify-content: space-evenly;
	gap: 30px;
}

.filter-buttons button {
	padding: 2px;
	background-color: #051a1d;
	color: white;
	font-weight: 600;
	border: none;
	padding: 8px;
	transition: 0.2s ease-in;
	border-radius: 4px;
	cursor: pointer;
}
.flex {
	display: flex;
	flex-wrap: wrap;
}

/* BIG SCREENS RESPONSIVE */

@media only screen and (min-width: 700px) {
	.home h4 {
		font-size: 2rem;
	}
	.home .d-flex {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.home .img-container {
		margin-top: 50px;
		max-width: 500px;
		height: 300px;
		overflow: hidden;
		position: relative;
		border-radius: 10px;
	}
}
